# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\WorkSpace\PassJava\PassJava-Platform\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
